*{
    border-top: none;
}

.top{
    position: fixed;
    background-color: #a0ecd0  ;
    width: 1529px;
    height: 75px;
    margin-top: -27px;
    margin-left: auto;
    margin-right: auto;
    margin-left: -99px;
    margin-bottom: 10px;
    border: green 1px solid;
    border-top: none;
}

.centering{
    /* height: 200px;
    position: fixed;
    border: 3px #88bb91;
    margin-top: -27px; */
    position: fixed;
    width: 1529px;
    height: 75px;
    margin-top: -27px;
    margin-left: auto;
    margin-right: auto;
    margin-left: -99px;
    margin-bottom: 10px;
    border: green 1px solid;
    border-top: none;
}

.button{
    background-color: #88bb91;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 16px;
    font-size: 16px;
    border: 1px;
    border-style:  solid;
    border-color: black;
    transition-duration: 0.4s;
}

.motorcycles-page {
    position: relative;
    display: inline-block;
    margin-top: 150px;
    margin-left: 600px;
    opacity:  1;
}

.calculator{
    position: relative;
    display: inline-block;
    margin-top: 250px;
    margin-left: 500px;
    opacity:  1;
}

.BigText {
    font-size: 20px;
    height: 30px;
    left: 150px;
    top: 35px;
    position: absolute;
}