.top{
    background-color: #313132 ;
    width: 1400px;
    height: 45px;
    margin-top: -16px;
    margin-left: auto;
    margin-right: auto;
    margin-left: -99px;
    margin-bottom: 10px;
}

.vl {
    border-left: 50px solid green;
  height: 683px;
  border-width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -683px;
  margin-right: 10px;
  top: 0;
}

.motorcycles {
    padding-left: 50px;
    position: relative;
    display: inline-block;
    margin-left: 40px;
}

.dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px;
    border-style:  solid;
    border-color: black;
}

.motorcycle-promos {
    padding-left: 5px;
    position: absolute;
    display: inline-block;
}

.motorcycles-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.motorcycles-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.motorcycles-content a:hover {background-color: #ddd;}

.motorcycles:hover .motorcycles {display: block;}

.motorcycles:hover .dropbtn {background-color: #3e8e41;}

.JIO {
    padding-left: 50px;
    margin-left: 40px;
}

.cheska {
    padding-left: 50px;
    margin-left: 40px;
}

.jerick {
    padding-left: 50px;
    margin-left: 40px;
}

.jeni {
    padding-left: 50px;
    margin-left: 40px;
}